import * as S from './{{pascalCase name}}.style'

export type {{pascalCase name}}Props = {
  /** Descricao do que a prop faz, vai direto pro storybook */
}

/** Descricao do que o componente faz, vai direto pro storybook */
const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => (
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
)

export default {{pascalCase name}}
